:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
}

nav ul li {
  list-style: none;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

button {
  padding: 8px 15px;
  margin: 5px;
  background-color: #0070f3;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #005bb5;
}

.taskItem {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0 25% 0 25%;
  border-bottom: black 2px solid;
  margin-bottom: 5px;
}

.taskItem p {
  padding: 8px 0;
  margin: 0;
}

.taskItem button {
  padding: 8px 15px;
  margin: 0;
  background-color: #0070f3;
  color: white;
  border: none;
  cursor: pointer;
}
